<!DOCTYPE html>
<html ng-app="myApp" >

<head>
    <meta charset="ISO-8859-1">
    <title>Merilytics</title>

</head>

<body>

    <br>
    <div id="login" ng-controller="myCtrl">
        <!-- <h1 style="color: red">{{myWelcome[0]}}</h1> -->
        <!-- <p ng-bind="myWelcome[0]"></p> -->
        <div th:if="${#httpServletRequest.remoteUser != null}">
    <p th:text="${#httpServletRequest.remoteUser}">
      sample_user
    </p>
</div>
        <form name="myForm" method="POST">
            <h3>Sign in</h3>
            <input type="email" placeholder="enter username" ng-model="vm.email" name="username" required/>
            <span ng-show="myForm.username.$error.email">Not a valid e-mail address</span>

            <input type="password" placeholder="Enter Password" ng-model="vm.password" name="password" required/>

            <input type="button" id="login-btn" value="login" ng-click="loginCheck(vm)" />
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <a href="#!london">forgot password</a>
        </form>
    </div>
<!--     <script>
    
        
        
        app.controller('myCtrl', function ($scope, $http) {
            $scope.loginCheck = function (obj) {

                var dataObj = { url: 'login', method: 'POST', headers: { 'Content-Type': 'application/json' }, data: obj }
                $http(dataObj)
                    .then(function (response) {

                        $scope.datum = response.data;

                    }, function myError(response) {

                        $scope.datum = response.statusText;
                    });
            }

            $http.get("test")
                .then(function (response) {

                    $scope.myWelcome = response.data;

                }, function myError(response) {

                    $scope.myWelcome = response.statusText;
                });
        });
    </script> -->
</body>

</html>