<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:if="${#httpServletRequest.remoteUser != null}">
    <p th:text="${#httpServletRequest.remoteUser}">
      sample_user
    </p>
</div>
<b>random shit here </b>
<!-- <a ui-sref="page2 ">page2</a> -->
<button ng-click="test2()">test</button>
{{datum[0]}}
</br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out" />
</form>
</body>
</html>